.navElement{
  text-decoration:none;
  margin:20px;
  font-size:25px;
  font-family: "Open Sans", sans-serif;
  color:grey;
  transition: 0.3s;
}

.navElement:hover{
  font-size:30px;
  color:#4ECCA3;
  transition:0.3s;
}

.navList{
  list-style: none;
  display:flex;
  flex-wrap:wrap;
  justify-content:space-between;
  align-items:center;;
}