.hero{
  width:514px;
  height:270px;
}

.byLine{
  font-family: "Open Sans", sans-serif;
  color:grey;
  font-size:25px;
  margin-left:-30px;
}

.btnDiv{
  width:584px;
  margin-top:30px;
  display:flex;
  justify-content:space-between;
}

.getstarted{
  width:254px;
  height:62px;
  border-radius:20px;
  font-size:25px;
  color:white;
  font-family: "Open Sans", sans-serif;
  background-color:#4ECCA3;
  border:0;
}

.chatbtn{
  width:254px;
  height:62px;
  font-family: "Open Sans", sans-serif;
  border:2px solid #4ECCA3;
  font-size:25px;
  color:grey;
  background-color:white;
  border-radius:20px;
}
